# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
homework-2/__debug_bin
homework-3/AddressBook.json
homework-4/__debug_bin
homework-4/test.go
homework-5/test.txt
homework-5/somecsvfile.csv
homework-5/gofc/test.txt
homework-5/gofc/test2.txt
